<div class="container">
    <div class="row">
        <div class="col-md-6 mt-4 mb-4">
            <div class="flip-card">
                <div class="flip-inner-card">
                    <div class="front">
                        <div class="card bg-dark text-white text-center border-light h-100">
                            <img class="card-img" src="./assets/images/elevate-nYgy58eb9aw-unsplash.jpg" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title-crawls">Start <br> Your <br> Crawl</h5>

                            </div>
                            <div class="back">
                                <div class="bg-dark text-white text-center border-light h-100">
                                    <img class="card-img city-card"
                                        src="./assets/images/elevate-nYgy58eb9aw-unsplash.jpg" alt="...">
                                    <div class="card-img-overlay">
                                        <select class="form-select form-select-lg mb-3"
                                            aria-label=".form-select-lg example">
                                            <option selected>Select a city</option>
                                            <option value="1">Austin</option>
                                            <option value="2">Corpus Christi</option>
                                            <option value="3">Dallas</option>
                                            <option value="4">Fort Worth</option>
                                            <option value="5">Galveston</option>
                                            <option value="6">Houston</option>
                                            <option value="7">San Antonio</option>
                                        </select>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <select class="form-select form-select-lg mb-3"
                                            aria-label=".form-select-lg example">
                                            <option selected>How many breweries would you like to visit?
                                            </option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                            <option value="4">Four</option>
                                            <option value="5">Five</option>
                                        </select>
                                        <br>
                                        <br>
                                        <br>
                                        <button type="button" class="btn btn2 btn-secondary">Create my
                                            crawl!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mt-4 mb-4">
            <div class="flip-card">
                <div class="flip-inner-card">
                    <div class="front">
                        <div class="card bg-dark text-white text-center border-light h-100 no-flip" id="savedCrawl">
                            <img class="card-img" src="./assets/images/christy-ash-evHJRn7UZyw-unsplash.jpg" alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Saved Crawls</h5>
                                <a href="https://www.google.com/" class="btn btn-transparent stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-4 mb-4">
            <div class="flip-card">
                <div class="flip-inner-card">
                    <div class="front">
                        <div class="card bg-dark text-white text-center border-light h-100 no-flip" id="popularCrawls">
                            <img class="card-img" src="./assets/images/micheile-henderson-7NFwwp-vZk8-unsplash.jpg"
                                alt="...">
                            <div class="card-img-overlay">
                                <h5 class="card-title">Popular Crawls</h5>
                                <a href="https://www.google.com/" class="btn btn-transparent stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 container-fluid mt-2">
        <div class="card brewery-card bg-dark text-white text-center border-light h-100 no-flip">
            <img class="card-img" src="./assets/images/roberta-keiko-kitahara-santana-RfL3l-I1zhc-unsplash.jpg"
                alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title-breweries">Breweries</h5>
                <p class="card-text">This is where new Breweries can click to add themselves to the list!</p>
                <a href="https://www.google.com/" class="btn btn-transparent stretched-link"></a>
            </div>
        </div>
    </div>
</div>
</div>